---
title: Advokat Luthfi
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: Terimakasih banyak mas Luthfi, kerja cepat, tepat dan amanah. semoga semakin sukses🤲😇.
    image: "https://placebear.com/60/60?a=.png"
    name: Mita
  - message: Alhamdulillah Terimakasih Mas Luthfi, kerja cepat, Amanah dan Tidak diragukan 😇🙏
    image: "https://placecats.com/60/60?a=.png"
    name: Ade Triani
  - message: Alhamdulillah di lancarkan prosesnya.
    image: "https://placebear.com/60/60?a=.png"
    name: Melianti
  - message: Kerja cepat, efektif, dan nyaman
    image: "https://placecats.com/60/60?a=.png"
    name: Yulia
  - message: Terimakasih sudah mendampingi proses cerai saya sampai selesai🙏🙏 
    image: "https://placebear.com/60/60?a=.png"
    name: Aulia
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p>Kantor Hukum kami hadir di wilayah Purbalingga, Banjarnegara, Purwokerto, Banyumas, dan Cilacap untuk memberikan solusi komprehensif dalam bidang Perkawinan & Perceraian, Waris, Pertanahan, dan Perdata.</p>

	<p>Dengan pengalaman bertahun-tahun, tim advokat kami berkomitmen memberikan pendampingan hukum yang tepat, transparan, dan berintegritas tinggi.</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
